# ===============================
# IDE / Eclipse
# ===============================
.metadata/
**/.metadata/
.settings/
.classpath
.project

# ===============================
# Java / Maven
# ===============================
**/target/
*.class
*.log

# ===============================
# Angular / Node
# ===============================
**/node_modules/
**/.angular/
**/dist/

# ===============================
# Environment / secrets
# ===============================
.env
.env.*
!.env.example

# ===============================
# OS
# ===============================
.DS_Store
Thumbs.db

# ===============================
# Editors
# ===============================
.vscode/
.idea/